<h2>Log in</h2>

<%= form_with  url: log_in_path, local: true, data: { turbo: false }  do |form| %>
  <div class="field" >
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password %>
  </div>

    <div class="actions">
    <%= form.submit "Log in" %>
  </div>
  <%end%>